 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url("images/uva-outlines-return-grounds-plan-fall-academic-semester-header.jpg"), linear-gradient(rgb(245, 241, 232), rgb(245, 241, 232));
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 707px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    --color-var: #f5f1e8;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}